#blog {
  position: relative;
  padding: 3.5rem 0;
  background-color: #b6d6e1 !important;
  color: white;
}

i {
  color: #aaa;
}

.card {
  color: #2d2d2d !important;
  border-radius: 0 !important;
  border: none !important;
  margin: 0 2%;
}

.card-img-top {
  border-radius: 0 !important;
}
